@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

section[id] {
    scroll-margin-top: 100px;
}

.container {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    padding: 80px 0;
}

body {
    font-family: 'Lato', sans-serif;
}

/* Sección Navbar */

.header {
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.logo {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 100px;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-toggle {
    color: #fff;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 80px;
    display: none;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
    font-size: 18px;
    line-height: 100px;
    width: max-content;
}

.nav-menu-link {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
}

.nav-menu-link:hover {
    background-color: #341f97;
    height: auto;
    transition: .5s;
}

/* Sección Hero */

.hero {
    height: 100vh;
    padding: 80px 0;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

.hero__main {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.hero__img {
    width: 45%;
    text-align: center;
    margin: 0;
}

.hero__picture {
    max-width: 80%;
}

.hero__texts {
    width: 45%;
    color: #fff;
}

.hero__title {
    font-size: 3rem;
}

.hero__copy {
    font-size: 1.5rem;
    font-weight: 300;
}

.hero__cta {
    display: inline-block;
    margin-top: 30px;
    margin-left: 5px;
    text-decoration: none;
    color: #fff;
    padding: 15px 30px;
    background: #341f97;
    border-radius: 30px;
    font-size: 19px;
    box-shadow: 0 0 10px rgba(0, 0, 0,.5);
    transition: all 0.3s ease 0s;
}

.hero__cta:hover {
    background: #fff;
    color: #341f97;
    font-weight: 500;
    transform: translateY(-7px);
}

.hero__cta:active {
    transform: translateY(-1px);
}

/* Sección Sobre Mí */

.title {
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: 40px;
    text-align: center;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about__img {
    width: 45%;
    text-align: center;
    margin: 0;
}

.about__picture {
    max-width: 80%;
}

.about__texts {
    width: 50%;
    left: 0;
}

.about__paragraph {
    line-height: 1.5;
}

/* Sección Skills */

.skills {
    background-color: #fafafa;
}

.skills__container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.skills__picture {
    width: 20%;
    height: 100px;
}

/* Sección portafolio */

.portfolio {
    background-color: #fafafa;
}

.portfolio__cards {
    display: flex;
    padding: 40px 0;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.portfolio__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 27%;
    background: #fff;
    height: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
    border-radius: 10px;
}

.portfolio__picture {
    width: 100%;
    display: block;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    height: 180px;
}

.portfolio__texts {
    padding: 30px 20px 10px;
}

.portfolio__title {
    font-size: 1.5rem;
    text-align: center;
}

.portfolio__paragraph {
    font-weight: 300;
    margin: 20px 0;
    text-align: justify;
}

.portfolio__cta {
    display: inline-block;
    width: 80%;
    padding: 15px;
    background: #341f97;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    text-align: center;
    margin-top: auto;
    margin-bottom: 30px;
}

.portfolio__cta:hover {
    background: #fff;
    border: 1px solid #341f97;
    color: #341f97;
}


/* Footer */

.footer {
    background: #341f97;
    color: #fff;
    text-align: center;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__texts {
    width: 40%;
}

.footer__icon {
    display: inline-block;
    font-size: 2rem;
    margin: 0 30px;
    text-decoration: none;
    color: #FFF;
    margin-bottom: 30px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
}

.footer__icon.fab {
    border-radius: 50%;
    line-height: 60px;
}

.footer__icon:hover {
    background: #fff;
    color: #341f97;
    border-radius: 50%;
}

.footer__link {
    display: inline-block;
    color: #fff;
    margin-bottom: 20px;
    margin-right: 10px;
}

.footer__link:hover {
    text-decoration: none;
}

.footer__img {
    margin: 0;
    width: 35%;
}

.footer__picture {
    width: 90%;
}


@media (max-width: 800px) {

    body {
        padding-top: 50px;
    }
    
    .title {
        font-size: 2rem;
    }

    /* Sección Navbar */

    .header {
        height: 80px;
    }

    .logo {
        font-size: 25px;
        padding: 0 20px;
        line-height: 80px;
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-color: #341f97;
        position: fixed;
        left: 0;
        top: 80px;
        width: 100%;
        padding: 20px 0;
        height: calc(100% - 80px);
        overflow-y: auto;
        left: 100%;
        transition: left .3s;
    }

    .nav-menu-item {
        line-height: 80px;
    }

    .nav-toggle {
        display: block;
        font-size: 25px;
        cursor: pointer;
    }

    .nav-menu_visible {
        left: 0;
    }

    .nav-toggle:focus:not(:focus-visible) {
        outline: none;
    }

    /* Sección Hero */

    .hero {
        height: auto;
        min-height: 100vh;
    }

    .hero__main {
        justify-content: center;
    }

    .hero__img {
        width: 60%;
        margin-bottom: 50px;
    }

    .hero__picture {
        max-width: 85%;
    }

    .hero__texts {
        width: 100%;
    }

    .hero__title {
        font-size: 2.5rem;
    }

    /* Sección Sobre Mí */

    .about__texts {
        width: 90%;
        text-align: center;
        margin: 0 auto;
    }

    .about__img {
        width: 80%;
        margin: 30px auto;
    }

    /* Sección Skills */

    .skills__container {
        justify-content: space-between;
    }    

    /* Sección Proyectos */

    .portfolio__card {
        width: 45%;
        margin-bottom: 30px;
    }

    /* Footer */

    .footer__container {
        flex-direction: column;
    }

    .footer__img {
        order: -1;
        width: 45%;
        margin-bottom: 30px;
    }

    .footer__picture {
        width: 100%;
    }

    .footer__texts {
        width: 100%;
    }
}

@media (max-width: 550px) {

    .title {
        font-size: 1.8rem;
    }

    /* Sección Hero */

    .hero__img {
        width: 85%;
    }

    .hero__picture {
        width: 100%;
    }

    .hero__title {
        font-size: 2.2rem;
    }

    /* Sección Sobre Mí */

    .about__texts {
        width: 100%;
    }

    /* Sección Proyectos */

    .portfolio__card {
        width: 90%;
        max-width: 300px;
    }

    /* Sección Skills */

    .skills__container {
        justify-content: space-around;
    }

    .skills__picture {
        width: 35%;
        margin-bottom: 30px;
    }

    /* Footer */

    .footer__img {
        width: 90%;
    }

    .footer__picture {
        max-width: 330px;
        margin-bottom: 40px;
    }
}